<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.name') %>:</b>
  <%= @order.name %>
</p>

<p>
  <b><%= t('.address') %>:</b>
  <%= @order.address %>
</p>

<p>
  <b><%= t('.email') %>:</b>
  <%= @order.email %>
</p>

<p>
  <b><%= t('.paytype') %>:</b>
  <%= @order.pay_type %>
</p>


<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %>
