<% content_for :md_contents do%> 

<% @products.each_with_index do |product,index| %>
  <div class="md-modal md-effect-1" id="modal-<%= index %>">
  	<div class="md-content">
    
    	<h3><%= product.title %></h3>
		<div class="md-content-detail">
   			<div><%= sanitize(product.description) %></div>
   			<%= number_to_currency(product.price) %>
   		
		</div>
		<div >
    	<button class="md-close">Close</button>
    	</div>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :grid_content do %>
	<% @products.each_with_index do |product,index| %>
			<li><button class="md-trigger" data-modal="modal-<%= index %>"><%= image_tag(product.image_url) %></button>
				
				<div class="price_line">
          <div>
      			<span class="price"><%= number_to_currency(product.price) %></span>
            <span class="add_cart"><%= link_to 'add to cart', line_items_path(product_id: product), :method => :post,remote:true %></span>
          </div>
          <div>
      			<span class="comment"><%= link_to 'comment' +  "  (" + product.comments.count.to_s + ")"  , product %></span>
            <span id="liked_user_<%= product.id %>" class="liked">
              <% if session[:user_id] == nil || !product.liked_users.exists?(:user_id => session[:user_id]) %>
                  <%= link_to t('.like') + "(" +  product.liked_users.count.to_s + ")" , liked_users_path(product_id: product), :method => :post ,remote:true %>
              <% else %>
                <%= link_to t('.cancer_like') + "(" +  product.liked_users.count.to_s + ")" , :controller => 'liked_users', :action => 'cancer_like', :product_id => product.id ,remote:true %>
              <% end %>
            </span>
          </div>
        </div>
		  </li>
<% end %>
  

<% end %>
