<% content_for :md_contents do%> 

<% @products.each_with_index do |product,index| %>
  <div class="md-modal md-effect-1" id="modal-<%= index %>">
  	<div class="md-content">
    
    	<h3><%= product.title %></h3>
		<div>
   		<p><%= sanitize(product.description) %></p>
    	

      	<span class="price"><%= number_to_currency(product.price) %></span>


    	<button class="md-close">Close me!</button>
    	</div>
    </div>
  </div>
  <% end %>
<% end %>

<% content_for :grid_content do %>
	<% @products.each_with_index do |product,index| %>
			<li><button class="md-trigger" data-modal="modal-<%= index %>"><%= image_tag(product.image_url) %></button>
				
				<div class="price_line">
      			<span class="price"><%= number_to_currency(product.price) %></span>

      			<span class="comment"><%= link_to 'comment' +  "  (" + product.comments.count.to_s + ")"  , product %></span>
      
      			<span class="add_cart"><%= button_to 'add to cart', line_items_path(product_id: product), remote:true %></span>
      
    		</div>
			</li>

	<% end %>
<% end %>
