<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Pragprog Books Online Store</title>
		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>
		<%= stylesheet_link_tag    "application", media: "all" %>
  		<%= javascript_include_tag "application" %>
 		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name %>" >

	<div id = "cart_side">	
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
  	</div>

  	<div id="banner">

	    <%= form_tag store_path,method: :get, class: 'locale' do %>
	      <%= select_tag 'set_locale', 
	        options_for_select(LANGUAGES, I18n.locale.to_s),
	        onchange: 'this.form.submit()' %>
	      <%= javascript_tag "$('.locale input').hide()" %>
	    <% end %>

  	</div>
		
		<%= yield :md_contents %>
  
		<div class="container">
			<div id = "searchbox">
				<div id="sb-search" class="sb-search">
					<%= form_tag search_path, :method => :get, :onsubmit => 'return checkSearchString()' do %>
			      		<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search_name" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"></span>
			    	<% end %>
				</div>
			</div>

			<header>
				<h1>Pragprog Books Online Store<span>Nice to meet you</span></h1>	
				<nav class="codrops-demos">
					<%= link_to t('.home'),store_path %>
        			<%= link_to t('.questions'),store_question_path %>
        			<%= link_to t('.news'),store_news_path %>
        			<%= link_to t('.contact'),store_contact_path %>
        			
        			
        		<% if session[:user_id] %>
      				<% if session[:admin_id]%>
        
         			<%= link_to 'Orders',   orders_path   %>
          			<%= link_to 'Products', products_path %>
          			<%= link_to 'Users',    users_path    %>

        			<% end %>
       		 	<%= button_to 'Logout', logout_path, method: :delete   %>
      		   <% end %>
    		 <% unless session[:user_id] %>
      		
      			<%= link_to t('.sing_in') , login_url %>
      			<%= link_to t('.sing_up') , new_user_path %>
      	
      		<% end %>
   
			</nav>
				 
    
			</header>
			<div class="main clearfix">
				<div class="column" style="alignment-baseline: central">
					<div style="text-align:center">
						
						
						
						
					<%= yield %>
					</div>
					<ul class="grid effect-7" id="grid">
						<%= yield :grid_content %>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="md-overlay"></div><!-- the overlay element -->

		<script src="/assets/js/masonry.pkgd.min.js"></script>
		<script src="/assets/js/imagesloaded.js"></script>
		<script src="/assets/js/classie.js"></script>
		<script src="/assets/js/AnimOnScroll.js"></script>
		<script src="/assets/js/modalEffects.js"></script>
		<script src="/assets/js/cssParser.js"></script>
		<script src="/assets/js/css-filters-polyfill.js"></script>
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>

		<script src="/asserts/js/uisearch.js"></script>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>

	</body>
</html>