<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

		<title><%= t('.title') %></title>

		<script>
			// this is important for IEs
			var polyfilter_scriptpath = '/js/';
		</script>
		<!--<script type="text/javascript" src="/assets/js/modernizr.custom.js"></script>-->
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= stylesheet_link_tag    "css/component", media: "all" %>
		<%= stylesheet_link_tag    "css/default", media: "all" %>

		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "js/modernizr.custom" %>
		
  		
  		
 		<%= csrf_meta_tags %>
	</head>
	<body class="<%= controller.controller_name %>" >
	<% if session[:user_id] %>
	<div id = "cart_side">
	  <div id="cart_bar" onclick="toggleCart()" ><%= t('.cart_show') %></div>
      <% if @cart %>
        <%= hidden_div_if(true, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
  	</div>
  	<% end %>

  	<div id="banner">
  		<%= form_tag store_path,method: :get, class: 'locale' do %>
	      <%= select_tag 'set_locale', 
	        options_for_select(LANGUAGES, I18n.locale.to_s),
	        onchange: 'this.form.submit()' %>
	      <%= javascript_tag "$('.locale input').hide()" %>
	    <% end %>

			<% if session[:user_id] %>

    			<%= link_to t('.logout'),	logout_path, class: 'locale' ,method: :delete %>
    			<p class="locale"><%= show_user_name %></p>
  		    <% end %>
		 	<% unless session[:user_id] %>
      		
      			<%= link_to t('.sing_up') , new_user_path,class: 'locale'  %>
      			<%= link_to t('.sing_in') , login_url ,class: 'locale'  %>
      			
      		<% end %>

  	</div>
  	

		
		<%= yield :md_contents %>
  
		<div class="container demo-1">
			<div id = "searchbox">
				<div id="sb-search" class="sb-search">
					<%= form_tag search_path, :method => :get, :onsubmit => 'return checkSearchString()' do %>
			      		<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search_name" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"></span>
			    	<% end %>
				</div>
			</div>

			<header>
				<h1><%= t('.title') %><span><%= t('.welcome') %></span></h1>	
				<nav class="codrops-demos">
					<%= link_to t('.home'),store_path %>
					<%= link_to t('.category'),store_category_path %>
				
        			<%= link_to t('.questions'),store_question_path %>
        			<%= link_to t('.news'),store_news_path %>
        			<%= link_to t('.contact'),store_contact_path %>
        			
        			<% if session[:admin_id]%>
    				<p></p>
     				<%= link_to t('.orders'),   orders_path   %>
      				<%= link_to t('.products'), products_path %>
      				<%= link_to t('.users'),    users_path    %>
      				<%= link_to t('.category_edit'),root_categories_path %>
    				<% end %>
    	
   
			</nav>
				 
			</header>
			
			<%= yield :index_category%>
			
			<div class="main clearfix">
				<div class="column" style="alignment-baseline: central">
					<!-- It's convenient to design news, questions and cotact pages,so define this style. -->
					<div style="text-align:center">	
					<%= yield %>
					</div>
					<ul class="grid effect-7" id="grid">
						<%= yield :grid_content %>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="md-overlay"></div><!-- the overlay element -->

		<%= javascript_include_tag "js/toucheffects" %>
		<%= javascript_include_tag "js/masonry.pkgd.min" %>
		<%= javascript_include_tag "js/imagesloaded" %>
		<%= javascript_include_tag "js/classie" %>
		<%= javascript_include_tag "js/AnimOnScroll" %>
		<%= javascript_include_tag "js/modalEffects" %>
		<%= javascript_include_tag "js/cssParser" %>
		<%= javascript_include_tag "js/css-filters-polyfill" %>
		
		<!--<script src="/assets/js/masonry.pkgd.min.js"></script>
		<script src="/assets/js/imagesloaded.js"></script>
		<script src="/assets/js/classie.js"></script>
		<script src="/assets/js/AnimOnScroll.js"></script>
		<script src="/assets/js/modalEffects.js"></script>
		<script src="/assets/js/cssParser.js"></script>
		<script src="/assets/js/css-filters-polyfill.js"></script>-->
		<script>
			new AnimOnScroll( document.getElementById( 'grid' ), {
				minDuration : 0.4,
				maxDuration : 0.7,
				viewportFactor : 0.2
			} );
		</script>

		<!--<script src="/asserts/js/uisearch.js"></script>-->
		<%= javascript_include_tag "js/uisearch" %>
		<script>
			new UISearch( document.getElementById( 'sb-search' ) );
		</script>

	</body>
</html>